body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:black;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

/*Blog Post*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
   
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style:italic;

}


h1 {
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
 
}

a{ 
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
    color: #0059bc
}

p{
   
     font-family: 'Shadows Into Light', cursive;
}

h2 {
    
     font-family: 'Shadows Into Light', cursive;
     text-align: center;
}


.image { 
   position: relative; 
   width: 100%; 
}

li{
    color: cyan;
}

div {
    text-align: center;
}

nav {
    color: cyan;
}