<!DOCTYPE html>
<html>
    <head>
       
          <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blogpa.css">
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
             
    <body background="img/pixel.png">
        
    </head>

    <body>
        <header>
            <nav>
                <div class = "nav-wrapper cyan">
                    <ul class="right-align">
                        <li><a href ="PA.html"> h o m e </a> </li>
                        <li><a href="admin2.html"> a d m i n </a><li>
                    
                    </ul>
                </div>
            </nav>
        </header>
        
                
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5 (1).js"></script>
          
        
        <script id="login-template" type="text/x-handlebars-template">
       
        <div class="col s6">      
            <h2 class="center-align">   Login  </h2>
            <div>
                <form class="col s12 form-signin">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" name="email" class="validate">
                            <label for="email">email</label>
                    </div>
                 </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password" class="validate">
                            <label for="password">password</label>  
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
                            </p>
                        </div>    
                        
                    </div>
                    
                </form>
            </div>
          </div>
        
            <script id="welcome-template" type="text/x-handlebars-template">
                        <h2>Welcome, {{email}}</h2>
           <button class="btn btn large waves-efect waves-light add-blog">Add A To Do Item </button>
           <button class="btn btn large waves-efect waves-light logout">Logout</button>
         </script> 
     
        
 <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align"> to do list </h1>
                </div>   
                <div class="row">
                    <div class="col s12 main-container">

                    </div>    
                </div>
            </div>
        </main>
       
            <div class="container">
                <p> <a href="#"> back to the top </a> </p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>&copy; 2016 tatiana amaya </p>
                </div>
            </div> 

        
            <script id="welcome-template" type="text/x-handlebars-template">
                        <h2> oh hi {{email}}</h2>
           <button class="btn btn large waves-efect waves-light add-blog">Add A Blog</button>
           <button class="btn btn large waves-efect waves-light logout">Logout</button>
         </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
                 <h2> add to do task </h2>
           <div class="row">
              <form class="col s12 form-add-blog">
                  <div class="row">
                      <div class="input-field col s12">
                 <input id="title" type="text" name="title">
              <label for="title"></label>
                </div>
                  </div>
          <div class="row">
        <div class="input-field col s12">
      <textarea id="content" name="content" class="materialize-textarea"></textarea>
    <label for="content"></label>
      </div>
       </div>
              <div class="row">
                <div class="col s12">
                 <p class="right-align">
                   <button class="btn btn-large waves-effect waves-light type="submit" name="action">Submit</button>
            </p>         
            </div>
             </div>
              </form>
                 </div>
                
         
         </body>   
</html>
