<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
    
    
        
        
    
           <!--Import Google Icon Font-->
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/blogpa.css">
        <link rel="icon" href="data:;base64,iVBORwOKGgo=">
    
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>




   <body>
       <header> 
            <nav>
                <div class="nav-wrapper cyan">
                    <ul class="right-align">
                        <li> <a href ="PA.html"> h o m e </a></li>
                        <li><a href="admin2.html"> a d m i n </a></li>
                        <li><a href="todo.html"> add a task </a></li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1> to do list</h1>
                </div>   
                <div class="row">
                    <div class="col s10 main-container">

                    </div>    
                </div>
            </div>
        </main>
        
   <body background="img/pixel.png">
       
         <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="libs/backendless.js"></script>
        <script type="text/javascript" src="js/miniblog.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
        <script type="text/javascript" src="js/handlebars-v4.0.5 (1).js"></script>

        
 
        
        <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
          <div class="blog-post">
            <h2 class="blog-post-title">{{title}}</h2>
            <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>   
            <div>{{content}}</div>   
          </div> 
          {{/each}} 
        </script> 
   
        
        
        
        
        
        </body>
</html>
